.anh-hien-thi{
    padding-left: 15px;
}
.Huong-dan{
    display: block;
}
.btnS{
    display: flex;
    position: relative;
    float: left;
    margin: 0px 10px 10px 0;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.btnM{
    display: flex;
    position: relative;
    float: left;
    margin: 0px 10px 10px 0;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.btnL{
    display: flex;
    position: relative;
    float: left;
    margin: 0px 10px 10px 0;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.btnXL{
    display: flex;
    position: relative;
    float: left;
    margin: 0px 10px 10px 0;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.header{
    font-size: 20px;
    padding-bottom: 15px;
    color: #707070;

}
.title-head{
    font-size: 40px;
}
.price-box{
    font-size: 35px;
}
.content{
    padding-left: 15px; 
    width: 40%;
    float: right;
}
.quantity {
    display: flex;
    align-items: center;
}

.quantity input {
    width: 50px;
    height: 30px;
    border: 1px solid #ccc;
    padding: 5px;
}

.quantity .increase,
.quantity .decrease {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 50%;
    color: #000;
}
@media only screen and (max-width: 63.9375em) {
    .content{
        padding-left: 40px;
        width: 100%;
        display: block;
    }
}



