.swiper-button-next{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  font-size: 20px;
  cursor: pointer;
}
.swiper-button-pre{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    font-size: 20px;
    cursor: pointer;
  }
.picture{
  float: left;
  width: 60%;
  padding-left: 80px;
}
@media only screen and (max-width: 63.9375em) {
  .picture{
    display: block;
    width: 100%;
    padding-left: 10%;
    
  }
}